In [ ]:
import pandas as pd
df = pd.DataFrame(columns=['Name', 'Type'])
df.head()

In [ ]:
#name, type
#1. insert function

def insert(df, name, typ):
    if (name not in df.Name.values) or (typ not in df.Type.values):  #if both are not found in dataframe table...
        df.loc[-1] = [name, typ]    #hashcode generate here .......
        df.index = df.index + 1  #update the index number
        df = df.sort_index()  #sorting location
    return df


#2. search function according to name
def search(df, name):
    return df.loc[df['Name'] == name] # for type search... "['Type'] == t..."


#3. delete function according to name
def delete(df, name):
    try:
        idx = df.loc[df['Name'] == name].index[0]
        df.drop([idx],axis=0,inplace=True) #remove labels of table columns or rows ... axis 0 =rows, axis 1= columns...
        df.reset_index(inplace=True) #change or remove the index
        df.drop('index',axis=1,inplace=True)
        return df
    except:
        print('Name not found')
        return df


#4. update function
def update(df, name=None, new_name=None, typ=None, new_typ=None):
    if name:
        if name in df.Name.values:
            df.loc[df.Name == name,'Name'] = new_name #1st block for name
    if typ:
        if typ in df.Type.values:
            df.loc[df.Type == typ,'Type'] = new_typ #2nd block for type

            
    return df

        
        
#5. show function
def show():
    print(df)
    
#6. getHash function  
def getHashKey(df, name):
    return df.loc[df['Name'] == name].index[0]

In [ ]:
#insert values in table


df = insert(df,'int','INTEGER')
df = insert(df,'myFunction','FUNCTION')
df = insert(df,'x','ID')
df = insert(df,'5','NUM')
df

In [ ]:
df = insert(df,'Akter','char')
df

In [ ]:
search(df, 'Akter')

In [ ]:
df = delete(df,"Karim")
df

In [ ]:
# Show
show()

In [ ]:
df = update(df, '5','8','NUM','Number')
df

In [ ]:
getHashKey(df,'8')